*{
    margin:0px;
    padding: 0px;
}
.container{
    background-color: #87CEEB;
    text-align: center;
}
header{
    height:50px;
    font-size: 50px;
}
.maincontainer{
    
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}